@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url("'https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap'");
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800;900&family=Raleway&display=swap');

/* ------BODY------ */

.section-2 a {
  color: #333333;
}

.mxgraph {
display: flex;
justify-content: center;
}
body {
  background-color: rgb(252, 252, 252);
  font-family: "Work Sans", sans-serif;
}


button {
  background-color: rgba(164, 201, 255, 1);
  padding: 2em;
  display: block;
  margin: 0 auto;
  border-radius: 1.5em;

}

button:hover {
  background-color: rgb(126, 178, 255);
  cursor: hand;
}

button:hover a {
  color: #333333;
}
button a {
  text-decoration: none;
  color: #333333;
  font-size: 1.5em;
  border-width: 0;
  border-color: #1F8F8F;

}

/* ------ LOGO ------ */

.top-bar-desktop nav ul li:last-child { float: left; }


.top-bar-desktop .logo a {
  padding-top: 1em;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.15em;
  position: relative;
  size: 2em;
  text-decoration: none;
  color: #333333;
  font-family: 'Domine', serif;
}



/* ------ CONTENTS ------ */

.website-contents {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
 
}

.secondary-title {
  color: #94a7a4;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0em;
}

.summary a {
  color: #1F8F8F;
  text-decoration: none;
}

/* ------NAVIGATION BAR------ */

.menu {
  display: inline;
}

.top-bar-mobile {
  display: none;
}

.nav-wrapper ul {
  position: relative;
  align-self: left;
  font-size: 1.1em;
  font-weight: 400;
  background-color: rgb(252, 252, 252);
  padding-right: 3em;
}

.summary-container {
  display: flex;
  justify-content: center;
}

.summary-bps {
  display: inline-block;
  padding-left: 4em;  
  padding-right: 4em;  
  padding-top: 3em;

}

.summary-bps h3 {
  font-weight: 600;
  font-size: 1em;
}

.nav-wrapper li {
  position: relative;
  align-self: left;
  display: inline;
  text-decoration: none;
  padding: 1em;
  float: right;
}
.section p {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.section h2{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 2.6em;
  font-family: 'Domine', serif;
}

.section h3{
  margin-left: 15%;
  margin-right: 15%;
}

.nav-wrapper li a {
  text-decoration: none;
  color: #333333;
}
.nav-wrapper li a:hover {
  color: #1F8F8F;
}


.vertical-divider {
  padding-top: 3em;
}
/* -----  WEBSITE CONTENTS -----*/

mark {
  background-color:rgba(164, 201, 255, 1);
  padding: 3px;
  box-shadow: inset 0 -0.6em rgb(164, 201, 255);
}

.website-contents h1 {
  letter-spacing: 0.02em;
  margin: 0;
  text-align: center;
}


/* ------ article ------ */

.article-contents {
  margin-left: 20%;
  margin-right: 20%;
  
}

@media screen and (max-width: 1200px) {
  .article-contents {
    margin-left: 10%;
    margin-right: 10%;
    
  }
}



.bkgdvid video {
  display: block;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  box-shadow: 30px 30px 59px #e0e0e0, 
  -30px -30px 59px #ffffff;;
  z-index: -1;


}

.bkgdvid-mobile video {
  display: block;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  box-shadow: 30px 30px 59px #e0e0e0, 
  -30px -30px 59px #ffffff;;
  z-index: -1;
  border-radius: 3em;
  


}


.bkgdvid1 video {
  display: block;
  width: 25%;
  height: 25%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 2em;
}



.intro {
  margin-left: 10%;
  margin-right: 10%;
}

.section p {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.section h2{
  margin-left: 25%;
  margin-right: 25%;
}

.section h3{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
  .section p {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  
  .section h2{
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .section h3{
    margin-left: 15%;
    margin-right: 15%;
  }
}


.website-contents .article {

  padding: 1.3em;
  background-color: rgb(252, 252, 252);
  color: #333333;
}

.article h1 {
    margin-top: 1em;
    font-size: 3.5em;
    font-family: 'Domine', serif;

}

.article .background {
    margin-top: 2em;
}

.header-image-desktop img {
  display:block;

  height: 50%;
  width: 50%;
  opacity: 100%;
  margin: 0 auto;
  box-shadow: 30px 30px 59px #d1d1d1, 
  -30px -30px 59px #ffffff;;
  padding: 2em;
  border-radius: 2em;
}

.header-image-desktop-2 img {

  height: 100%;
  width: 100%;
  opacity: 100%;
  margin: 0 auto;

}


.header-image-desktop-1 img {

  height: 50%;
  width: 50%;
  opacity: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: -10px -10px 30px rgb(235, 248, 231), 10px 10px 30px rgb(208, 219, 205);


}

.header-image-mobile img {
  width: 0%;
  height: 0%;
}

.header-image-mobile h2 {
  display: none;
}

  .prototyping-gif img{
    box-shadow: -10px -10px 30px rgb(235, 248, 231), 10px 10px 30px rgb(208, 219, 205);
  }

  @media screen and (max-width: 600px) {

    .header-image-mobile h2 {
      display: inline;
    }
    

    h1 {
      font-size: 1.5em;
      text-align: center;
    }
    .prototyping-gif {
      box-shadow: none;
    }

    .header-image-desktop img {
      width: 0%;
      height: 0%;
    }

    .header-image-desktop-2 img {
      width: 0%;
      height: 0%;
    }

    .header-image-desktop-1 img {
      width: 0%;
      height: 0%;
    }

    .header-image-mobile img {
      width: 100%;
      height: 100%
    }

    
    
    
  }



.styleguide {
  width: 100%;
  height: 100%;
}

.problem-visual {
  margin: auto;
  width: 60%;
  height: 60%;
}

.summary {
  margin-left: 15%;
  margin-right: 15%;
}

.article .summary {
  z-index: 8;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 227, 166, 0.6);
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  margin-top: 1em;
  
}



@media screen and (max-width: 800px) {

  .article .summary {
    width: 60%;
    margin: auto;
  }
 
}

@media screen and (max-width: 600px) {

  .article .summary {
    width: 60%;
    margin: auto;
  }

 
}

.article p {
  line-height: 2em;
  font-size: 1em;
}

.website-contents .article .learn-more a {
  text-decoration: none;
  color: #1F8F8F;
}

.website-contents .article .learn-more a:hover {
  color: #1F8F8F;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

 



  .website-contents {
      width: 80%;
  }

 
}

@media screen and (max-width: 500px){



 
  .top-bar-mobile {
    display: block;
  }

  .nav-wrapper-mobile {
    text-align: center;
  }

  .nav-wrapper-mobile ul {
      margin-bottom: 0px;
      position: relative;
      font-size: 1em;
      font-weight: 400;
      background-color: rgba(252, 252, 252, 1);
      padding-right: 0em;
      padding-left: 0em;
  }

  .nav-wrapper-mobile li {
    position: relative;
    display: inline;
    text-decoration: none;
    padding-right: 0.55em;
    padding-left: 0.55em;
  }
  
  .nav-wrapper-mobile li a {
    text-decoration: none;
    color: #333333;
  }
  .nav-wrapper-mobile li a:hover {
    color: #1F8F8F;
  }
  .animation {
      width: 0%;
      height: 0%;
  }

  .website-contents {
      width: 80%;
  }

  .website-contents .about-paragraph {
      width: 100%;
  }

  .top-bar-desktop {
    display: none;
  }
  
 }



/* ----- FOOTER ----- */

.footer .links {
  display: inline;
  text-align: center;
}

.footer .links ul {
  position: relative;
  padding-inline-start: 0px;
}

.footer .links li {
  position: relative;
  display: inline;
  padding: 1em;
}

.footer .links li a {
  color: #333333;
  font-size: 1.5em;
  text-decoration: none;
  margin: 0;
}

.next-links {
  padding-bottom: 2em;
  padding-top: 2em;
}

.next-links a {
  text-decoration: none;
  color: #1F8F8F;
}

.next-links .back {
  float: left;
}

.next-links .next {
  float: right;
}

.next-button {
  padding-left: 1em;
}

.back-button {
  padding-right: 1em;
}

.next:hover {
  opacity: 70%;
}


.back:hover {
  opacity: 70%;
}

i:hover {
  color: #1F8F8F;
}
/* ----- SIGNATURE -----*/

.signature {
  padding: 1em;
}

.signature p {
  text-align: center;
}



